body {
    background: 
        url(../images/fruits_lq_light.jpg) 
        no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
  }