body {
    /* Fix bootstrap navbar fixed-top covering up main content. */
    padding-top: 5rem;
}

.bg-primary {
    background-color: #528165 !important;
}

#add-food-today {
    margin-top: 2rem;
}