{% extends 'base.html'%}

{% block navaddfoodtodb %}
active
{% endblock %}


{% block content %}

<form class="border border-light p-5" action="{{ url_for('insert_food') }}" method="POST">

    <div class="form-group">

        <p class="h4 mb-4 text-center">Add a new food to NutriApp database.</p>


        <input name="name_en" class="form-control mb-4" id="defaultContactFormName" type="text" placeholder="Food Name">

        <input name="energy_100g_cal" class="form-control mb-4" id="defaultContactFormEmail" type="number" placeholder="Calories per 100g">

        <textarea name="desc_en" class="form-control rounded-0" id="exampleFormControlTextarea2"
            placeholder="Food Description"></textarea>

        <!-- <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
            <label class="custom-control-label" for="defaultContactFormCopy">This is a simple food - there is only one
                ingredient.</label>
        </div> -->

        <button class="btn btn-info btn-block" id="addnewfoodbutton" type="submit">Add New Food</button>
    </div>
</form>

{% endblock %}