{% extends 'base.html'%}

{% block header %}

<li class="nav-item">
    <a class="nav-link" href="{{url_for('today')}}">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{url_for('get_foods')}}">Database of foods</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{url_for('add_food')}}">Add food</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Statistics</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Help</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="#">Tutorial</a>
        <a class="dropdown-item" href="#">Find us on Github</a>
        <a class="dropdown-item" href="#">About</a>
    </div>
</li>
{% endblock %}


{% block content %}

<form class="border border-light p-5" action="{{ url_for('insert_food') }}" method="POST">

    <div class="form-group">

        <p class="h4 mb-4 text-center">Add a new food to NutriApp database.</p>


        <input name="name_en" class="form-control mb-4" id="defaultContactFormName" type="text" placeholder="Food Name">

        <input name="energy_100g_cal" class="form-control mb-4" id="defaultContactFormEmail" type="number" placeholder="Calories per 100g">

        <textarea name="desc_en" class="form-control rounded-0" id="exampleFormControlTextarea2"
            placeholder="Food Description"></textarea>

        <!-- <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
            <label class="custom-control-label" for="defaultContactFormCopy">This is a simple food - there is only one
                ingredient.</label>
        </div> -->

        <button class="btn btn-info btn-block" id="addnewfoodbutton" type="submit">Add New Food</button>
    </div>
</form>

{% endblock %}