<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NutriApp</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bgimage.css')}}" type="text/css" />




    <link rel="stylesheet"
        href="{{url_for('static', filename='ext_libraries/bootstrap-4.5.0-dist/css/bootstrap.min.css')}}">



    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />


</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="#">NutriApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% block header %} {% endblock %}
            </ul>
        </div>
    </nav>

    <main role="main" class="container">

        <!-- <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text
                and a mostly barebones HTML document.</p>
        </div> -->


        {% block content %} {% endblock %}

    </main><!-- /.container -->




</body>

<!-- Loading javascript after html and css, following progressive web design. -->
<script src="{{url_for('static', filename='ext_libraries/jquery.js')}}"></script>

<script src="{{url_for('static', filename='ext_libraries/popper/dist/umd/popper.min.js')}}"> </script>

<script src="{{url_for('static', filename='ext_libraries/bootstrap-4.5.0-dist/js/bootstrap.min.js')}}"></script>

</html>