<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NutriApp</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bgimage.css')}}" type="text/css" />
    <link rel="stylesheet"
        href="{{url_for('static', filename='ext_libraries/bootstrap-4.5.0-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" href="{{url_for('home')}}">NutriApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block navhome %} {% endblock %}">
                    <a class="nav-link" href="{{url_for('home')}}">Home</a>
                </li>
                <li class="nav-item {% block navtoday %} {% endblock %}">
                    <a class="nav-link" href="{{url_for('today')}}">My Daily Nutrition</a>
                </li>
                <li class="nav-item {% block navdatabase %} {% endblock %}">
                    <a class="nav-link" href="{{url_for('get_foods')}}">NutriApp Database</a>
                </li>
                <li class="nav-item {% block navaddfoodtodb %} {% endblock %}">
                    <a class="nav-link" href="{{url_for('add_food')}}">Add Food to Database</a>
                </li>

            </ul>
        </div>
    </nav>

    <main role="main" class="container">

        {% block content %} {% endblock %}

    </main>


    <!-- Loading javascript after html and css, following progressive web design. -->
    <script src="{{url_for('static', filename='ext_libraries/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='ext_libraries/popper/dist/umd/popper.min.js')}}"> </script>
    <script src="{{url_for('static', filename='ext_libraries/bootstrap-4.5.0-dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>


    {% block pagescript %} {% endblock %}


</body>


</html>