{% extends 'base.html'%}
{% block header %}

<li class="nav-item">
    <a class="nav-link" href="{{url_for('today')}}">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{url_for('get_foods')}}">Database of foods</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Statistics</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Help</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="#">Tutorial</a>
        <a class="dropdown-item" href="#">Find us on Github</a>
        <a class="dropdown-item" href="#">About</a>
    </div>
</li>
{% endblock %}


{% block content %}

<!-- <div class="card">
    <div class="card-body">


    </div>
</div> -->

<form class="form-group" method="get" action="{{url_for('search_foods')}}">
    <div class="form-row">
        <input name="search" class="form-control col-7 form-control-lg" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success bg-light col-5" type="submit">Search</button>
    </div>
</form>


<div>

    {% for food in foods %}

    <p>{{food.name_en}}</p>

    {% endfor %}


</div>


{% endblock %}