{% extends 'base.html'%} {% block content %}

<div>

    <h1>Today's nutrition</h1>


    <ul class="list-group">
        <li class="list-group-item">
            <div class="d-flex">
                <div class="p-2 lead">Porridge</div>
                <div class="p-2 lead"> - </div>
                <div class="p-2 lead">150g</div>
                <div class="ml-auto p-2 lead">552 cal</div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="d-flex">
                <div class="p-2 lead">Apple</div>
                <div class="p-2 lead"> - </div>
                <div class="p-2 lead">100g</div>
                <div class="ml-auto p-2 lead">150 cal</div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="d-flex">
                <div class="p-2 lead">Pasta</div>
                <div class="p-2 lead"> - </div>
                <div class="p-2 lead">100g</div>
                <div class="ml-auto p-2 lead">356 cal</div>
            </div>
        </li>
    </ul>

    <button type="button" class="btn btn-outline-success bg-light btn-lg" id="add-food-today">Add meal</button>



</div>


{% endblock %}